@font-face {
    font-family: 'RobotoCondensed';
    font-style: normal;
    font-weight: 700;
    src: url('../../resources/RobotoCondensed/RobotoCondensed-Bold.ttf');
}

@font-face {
    font-family: 'RobotoCondensed';
    font-style: italic;
    font-weight: 700;
    src: url('../../resources/RobotoCondensed/RobotoCondensed-BoldItalic.ttf');
}

@font-face {
    font-family: 'RobotoCondensed';
    font-style: normal;
    font-weight: 400;
    src: url('../../resources/RobotoCondensed/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: 'RobotoCondensed';
    font-style: italic;
    font-weight: 400;
    src: url('../../resources/RobotoCondensed/RobotoCondensed-Italic.ttf');
}

@font-face {
    font-family: 'RobotoCondensed';
    font-style: normal;
    font-weight: 300;
    src: url('../../resources/RobotoCondensed/RobotoCondensed-Light.ttf');
}

@font-face {
    font-family: 'RobotoCondensed';
    font-style: italic;
    font-weight: 300;
    src: url('../../resources/RobotoCondensed/RobotoCondensed-LightItalic.ttf');
}
